/* list table */
#taskList, #taskListDialog, #taskListBench, #availEquipmentList{
    list-style: none;
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#addEquipDialog {
    height: 50px;
    width: 50px;
}

#equipList{
    list-style: none;
    display: table;
    border-collapse: collapse;
    width: 70%;
    margin-left: 0;
    margin-right: auto;
}

.tableTitleRow{
    font-weight: bold;
    border-bottom: solid 2px black;
    display: table-row;
}

.tableRow, .tableRowDialog{
    display: table-row;
}

.new-project-row{
    width: 100%;
    cursor: pointer;
    color: black;
}

.new-project-row span{
    text-decoration: underline;
}

.tableTitleRow,
.tableRow, .tableRowDialog{
    border: 1px solid #dddddd;
    text-align: left;
}

.tableRow:nth-child(even), .tableRowDialog:nth-child(even) {
    background-color: #dddddd;
}

.tableCell{
    display: table-cell;
    width: 20%;
    padding: 8px;
}

/* Fill the whole div */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Center the greeting and set it to a not too terrible color */
.greeting h1 {
    color: cadetblue;
    text-align: center;
}

/* Change the cursor on hover to signal to the user it is a clickable link */
.click-row {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/* Change the background color of the row to signal to the user it is a
   clickable linke */
.new-project-row:hover{
    background: #7ea05f;
}

.click-row:hover {
    background: #7ea05f;
}

/* content section */
#mainContent{
    text-align:center;
    width: 70%;
    margin-left:auto;
    margin-right:auto;
}
