{% extends 'splash/_base.html' %}


{% block head %}
{% endblock %}

{% block pageBody %}

<form>
  {% if project_entry %}
    <p>Hypo: {{ project_entry.hypothesis }}</p>
    <p>ExperimentType: {{ project_entry.experimentType.name }}</p>
    <p>Status: {{ project_entry.status.text }}</p>
    <p>CreationDate: {{ project_entry.creationDate }}</p>
    <p>ProjectID: {{ project_entry.projectID }}</p>
    <p>Reviewer: {{ project_entry.reviewer }}</p>
  {% else %}
    <p>Project not found.</p>
  {% endif %}

  <!-- Vertical NavBar -->
  <ul class="tab">
    <li><a href="javascript:void(0)" class="tablinks">Experiments</a></li>
    <li><a href="javascript:void(0)" class="tablinks">Notebooks</a></li>
    <li><a href="javascript:void(0)" class="tablinks">Equipment</a></li>
    <li><a href="javascript:void(0)" class="tablinks">Files</a></li>
    <li><a href="javascript:void(0)" class="tablinks">Summary</a></li>
  </ul>

  <!-- Experiments -->
  <div id="Experiments" class="tabcontent">
    <h2>Experiment</h2>
    <div class="experiment_options">
      Experiment Type <select class="experiment_type">
        <option value="AST">AST</option>
        <option value="Microcentrifuge Disso">Microcentrifuge Disso</option>
        <option value="Thermal Characterization (DSC)">Thermal Characterization (DSC)</option>
        <option value="Potency">Potency</option>
        <option value="Equilibrium Solubility">Equilibrium Solubility</option>
        <option value="PXRD">PXRD</option>
        <option value="NMR Characterization">NMR Characterization</option>
      </select>
    </div>

    <script>
      $("document").ready(function() {
          selectExperiment("{{ project_entry.experimentType.name }}");
      });
    </script>

    <br>Hypothesis/Goals/Question<br>
    <textarea class="hypothesis" rows="10" cols="50">{{ project_entry.hypothesis }}</textarea>
    <input type="button" onclick="" value="SAVE"><br><br>

    Key Scientist: <input type="text" name="scientist"><input type="submit" value="+"><br>
  </div>

  <!-- Notebooks & Pages -->
  <div id="Notebooks" class="tabcontent">
    <h2>
      Select Notebook Reference
    </h2>
    <select name="notebooks"> 
      <option value="Select Notebook(s):">Select Notebook(s)</option>  </select>
    <input type="submit" value="ADD"><br>
    <select name="pages"> 
      <option value="Select Page(s):">Select Pages</option>
      <input type="submit" value="ADD">
    </select>
  </div>

  <!-- Equipment -->
  <div id="Equipment" class="tabcontent">
    <h2>
      Add Equipment
    </h2>

    {% if equip_list %}
    <ul id="equipList">
      <li class='tableTitleRow'>
        <span class="tableCheck"> </span>
        <span class='equipTableCell'> Equipment ID </span>
        <span class='equipTableCell'> Name </span>
        <span class='equipTableCell'> Location </span>
      </li>
      {% for equip in equip_list%}
      <li class='tableRow'>
        <span class="tableCheck"><input type="checkbox"></span>
        <span class='equipTableCell'>{{ equip.equipmentID }} </span>
        <span class='equipTableCell'>{{ equip.name }} </span>
        <span class='equipTableCell'>{{ equip.location }} </span>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No equipment available.</p>
    {% endif %}

  </div>
  <!-- Add Files/Data -->
  <div id="Files" class="tabcontent">
    <h2>Add Project File(s)</h2>
    <ul style="padding: 0"; class="file_list">
      <li id="file1" style="list-style: none";>File: <input type="file"><button onclick="removeFile()" class="remove_file">X</button></li>
    </ul>
    <br>
    <button onclick="addFileButton(event)" id="add_file_button">Add Another File</button>
  </div>
  <!-- Finalize Project -->
  <div id="Summary" class="tabcontent"></div>
</form>
{% endblock %}
