{% extends 'splash/_base.html' %}


{% block head %}
  {% load static %}
  <script type="text/javascript" src="/static/splash/js/edit.js"
          xmlns="http://www.w3.org/1999/html"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'splash/css/edit.css' %}" />
{% endblock %}

{% block pageBody %}

<div class="project_title">
  <h1 id="{{ entry_id }}">Project: {{ entry_id }}</h1>
</div>

<!-- Vertical NavBar -->
<ul id="vertNavBar" class="tab">
  <li><a href="javascript:void(0)" class="tablinks">Summary</a></li>
  <li><a href="javascript:void(0)" class="tablinks">Experiments</a></li>
  <li><a href="javascript:void(0)" class="tablinks">Scientists</a></li>
  <li><a href="javascript:void(0)" class="tablinks">Notebooks</a></li>
  <li><a href="javascript:void(0)" class="tablinks">Equipment</a></li>
  <li><a href="javascript:void(0)" class="tablinks">Files</a></li>
</ul>

<!-- Finalize Project -->
<div id="Summary" class="tabcontent">
  <div>
    <h3 class="tabHeader">Experiment Details</h3>

    {% if experiment_details %}
      <p><b>Type:</b> {{ experiment_details.experimentType }}</p>
      <p><b>Hypothesis:</b> {{ experiment_details.hypothesis }}</p>

    {% else %}
    {% endif %}
  </div>

  <div>
    <h3 class="tabHeader">Scientists</h3>
  </div>

  <div>
    <h3 class="tabHeader">Notebooks</h3>
  </div>

  <div>
    <h3 class="tabHeader">Equipment</h3>

    {% if equipment_list %}
      <table class="DataTable" id="equipSummaryTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for equipment in equipment_list %}
            <tr>
              <td>{{ equipment.equipmentID }}</td>
              <td>{{ equipment.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    {% endif %}

  </div>

  <div>
    <h3 class="tabHeader">Files</h3>

    {% if file_list %}
      <table class="SummaryTable" id="fileSummaryTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for file in file_list %}
            <tr>
              <td>{{ file.fileID }}</td>
              <td>{{ file.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    {% endif %}

  </div>
</div>

<!-- Experiments -->
<div id="Experiments" class="tabcontent">
  <h3 class="tabHeader">Experiment Details</h3>
  <div class="experiment_options">
    <form method="POST" action="">
      {% csrf_token %}
      <ul class="experimentFrom">{{ experiment_form.as_ul }}</ul>
      <button type="submit" value="submit" class="save_btn">Save</button>
    </form>
  </div>
</div>

<!-- Scientists -->
<div id="Scientists" class="tabcontent">
  <h3 class="tabHeader">Scientists</h3>
  Key Scientist: <input type="text" name="scientist"><input type="submit" value="+"><br>
</div>

<!-- Notebooks & Pages -->
<div id="Notebooks" class="tabcontent">
  <h3 class="tabHeader">
    Select Notebook Reference
  </h3>
  <select name="notebooks"> 
    <option value="Select Notebook(s):">Select Notebook(s)</option>  </select>
  <input type="submit" value="ADD"><br>
  <select name="pages"> 
    <option value="Select Page(s):">Select Pages</option>
    <input type="submit" value="ADD">
  </select>
</div>


<!-- Equipment -->
<div id="Equipment" class="tabcontent">
  <h3 class="tabHeader">
    Select Project Equipment Used
  </h3>


  <!--Main Equipment Context-->
  <table class="DataTable" id="availEquipmentList">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody id="availEquipBody">
    </tbody>
  </table>

  <!--Equipment added to project -->
  <div id="EquipmentBench">
    <h3 class="tabHeader">
      Equipment Used on Project
    </h3>

    <ul id="equipListBench">
      <li class='tableTitleRow'>
        <span class="tableCell" style="width: 0%;"></span>
        <span class="tableCell">ID</span>
        <span class="tableCell">Name</span>
      </li>

      {% if equipment_list %}
        {% for equipment in equipment_list %}
        <li class="tableRow equipment-row">
          <span class="tableCell" id="equipCheckCell">
            <input type='checkbox' onclick="equipOnClick(this)" class="rowCheckbox"/>
          </span>
          <span class="tableCell equipID">
            {{ equipment.equipmentID }}
          </span>
          <span class="tableCell equipName">
            {{ equipment.name }}
          </span>
        </li>
        {% endfor %}
      {% else %}
      {% endif %}

    </ul>
  </div>

</div>

<!-- Add Files/Data -->
<div id="Files" class="tabcontent">
  <h3 class="tabHeader">Add Project File(s)</h3>

  <!--Main Files Context-->
  <ul id="availFileList">
    <li class="tableTitleRow">
      <span class="tableCell" style="width: 0%;"></span>
      <span class="tableCell">ID</span>
      <span class="tableCell">Name</span>
    </li>

    <li class="tableRow">
        <span class="tableCell" id="fileCheckCell">
        </span>
      <span class="tableCell fileID">
        </span>
      <span class="tableCell fileName">
        </span>
    </li>
  </ul>

  <!--Files added to project -->
  <div id="FileBench">
    <h3 class="tabHeader">
      Project Files
    </h3>

    <ul id="fileListBench">
      <li class='tableTitleRow'>
        <span class="tableCell" style="width: 0%;"></span>
        <span class="tableCell">ID</span>
        <span class="tableCell">Name</span>
      </li>

      {% if file_list %}
      {% for file in file_list %}
      <li class="tableRow file-row">
          <span class="tableCell" id="fileCheckCell">
            <input type='checkbox' onclick="fileOnClick(this)" class="rowCheckbox"/>
          </span>
        <span class="tableCell fileID">
            {{ file.fileID }}
          </span>
        <span class="tableCell fileName">
            {{ file.name }}
          </span>
      </li>
      {% endfor %}
      {% else %}
      {% endif %}

    </ul>
  </div>

</div>

{% endblock %}
