{% extends 'splash/_base.html' %}


{% block head %}
  {% load static %}
  <script type="text/javascript" src="/static/splash/js/edit.js"
          xmlns="http://www.w3.org/1999/html"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'splash/css/edit.css' %}" />
{% endblock %}

{% block pageBody %}

<div class="project_title">
  <h1 id="{{ entry_id }}">Project: {{ entry_id }}</h1>
</div>

<!-- Vertical NavBar -->
<ul id="vertNavBar" class="tab">
  <li><a href="javascript:void(0)" class="tablinks">Experiments</a></li>
  <li><a href="javascript:void(0)" class="tablinks">Scientists</a></li>
  <li><a href="javascript:void(0)" class="tablinks">Notebooks</a></li>
  <li><a href="javascript:void(0)" class="tablinks">Equipment</a></li>
  <li><a href="javascript:void(0)" class="tablinks">Files</a></li>
  <li><a href="javascript:void(0)" class="tablinks">Summary</a></li>
</ul>

<!-- Experiments -->
<div id="Experiments" class="tabcontent">
  <h2>Experiment Details</h2>
  <div class="experiment_options">
    <form method="POST" action="">
      {% csrf_token %}
      <ul class="experimentFrom">{{ experiment_form.as_ul }}</ul>
      <button type="submit" value="submit" class="save_btn">Save</button>
    </form>
  </div>
</div>

<div id="Scientists" class="tabcontent">
  Key Scientist: <input type="text" name="scientist"><input type="submit" value="+"><br>
</div>

<!-- Notebooks & Pages -->
<div id="Notebooks" class="tabcontent">
  <h2>
    Select Notebook Reference
  </h2>
  <select name="notebooks"> 
    <option value="Select Notebook(s):">Select Notebook(s)</option>  </select>
  <input type="submit" value="ADD"><br>
  <select name="pages"> 
    <option value="Select Page(s):">Select Pages</option>
    <input type="submit" value="ADD">
  </select>
</div>


<!-- Equipment -->
<div id="Equipment" class="tabcontent">
  <h2>
    Select Project Equipment Used
  </h2>

  <!--Main Equipment Context-->
  <ul id="availEquipmentList">
    <li class="tableTitleRow">
      <span class="tableCell" style="width: 0%;"></span>
      <span class="tableCell">ID</span>
      <span class="tableCell">Name</span>
    </li>

    <li class="tableRow">
        <span class="tableCell" id="equipCheckCell">
        </span>
      <span class="tableCell equipID">
        </span>
      <span class="tableCell equipName">
        </span>
    </li>
  </ul>

  <!--Equipment added to project -->
  <div id="EquipmentBench">
    <h2>
      Equipment Used on Project
    </h2>

    <ul id="taskListBench">
      <li class='tableTitleRow'>
        <span class="tableCell" style="width: 0%;"></span>
        <span class="tableCell">ID</span>
        <span class="tableCell">Name</span>
      </li>

      {% if equipment_list %}
        {% for equipment in equipment_list %}
        <li class="tableRow">
          <span class="tableCell" id="equipCheckCell">
            <input type='checkbox' onclick="equipOnClick(this)" class="rowCheckbox"/>
          </span>
          <span class="tableCell equipID">
            {{ equipment.equipmentID }}
          </span>
          <span class="tableCell equipName">
            {{ equipment.name }}
          </span>
        </li>
        {% endfor %}
      {% else %}
      {% endif %}

    </ul>
  </div>
  <input type="button" id="equipSubmit" value="Save" onclick="save_equip()" />

</div>

<!-- Add Files/Data -->
<div id="Files" class="tabcontent">
  <h2>Add Project File(s)</h2>
    <!--<ol class="sub">
      {% if file_list %}
      {% for file in file_list %}
      <li class="accordion">
        <h3 class="file_item_header">{{ file.name }}</h3>
        <div>
          <ol>
            <li class="file_detail">
              <h4 class="file_detail_header">Description</h4>
              <p class="file_detail_content">{{ file.description }}</p>
            </li>
            <li class="file_detail">
              <h4 class="file_detail_header">File Type</h4>
              <p class="file_detail_content">{{ file.fileType}}</p>
            </li>
            <li class="file_detail">
              <h4 class="file_detail_header">File ID</h4>
              <p class="file_detail_content">{{ file.fileID}}</p>
            </li>
          </ol>
        </div>
      </li>
      {% endfor %}
      {% endif %}
    </ol>-->
  <!--<button onclick="addFileButton(event)" id="add_file_button">Add Another File</button>-->
</div>
<!-- Finalize Project -->
<div id="Summary" class="tabcontent">
  <h2>Summary</h2>
</div>

{% endblock %}
