{% extends 'splash/_base.html' %}


{% block head %}
  <script type="text/javascript" src="/static/splash/index.js"></script>
{% endblock %}

{% block pageBody %}
    <!--Welcome message, eventually will populate with user name-->
    <div class="greeting">
        <h1>Hello, Scientist!</h1>
    </div>

    <!--Plain title for the table of tasks/entries-->
    <div class="table-title">
        <h3 style="text-decoration: underline;">Your Entries</h3>
    </div>

    {% if entrypages %}
        <ul id="taskList">
            <li class='tableTitleRow'>
                <span class='tableCell'> Project ID </span>
                <span class='tableCell'> Creation Date </span>
                <span class='tableCell'> Experiment Type </span>
                <span class='tableCell'> Status </span>
            </li>
            {% for entry in entrypages %}
                <li class='tableRow click-row'>
                    <span class='tableCell'>{{ entry.projectID }} </span>
                    <span class='tableCell'>{{ entry.creationDate }} </span>
                    <span class='tableCell'>{{ entry.experimentType.name }} </span>
                    <span class='tableCell'>{{ entry.status.text }} </span>
                </li>
            {% endfor %}
            <div class="pagination">
              <span class="step-links">
                  {% if entrypages.has_previous %}
                      <a href="?page={{ entrypages.previous_page_number }}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ entrypages.number }} of {{ entrypages.paginator.num_pages }}.
                  </span>

                  {% if entrypages.has_next %}
                      <a href="?page={{ entrypages.next_page_number }}">next</a>
                  {% endif %}
              </span>
            </div>
        </ul>
    {% else %}
        <p>No entries are available.</p>
    {% endif %}

{% endblock %}
