{% extends 'splash/_base.html' %}


{% block head %}
{#  <script type="text/javascript" src="/static/splash/index.js"></script>#}
{% endblock %}

{% block pageBody %}
    <!--Welcome message, eventually will populate with user name-->
    <div class="greeting">
        <h1>Hello, Scientist!</h1>
    </div>

    <!--Plain title for the table of tasks/entries-->
    <div class="table-title">
        <h3 style="text-decoration: underline;">Your Entries</h3>
    </div>

    {% if entry_list %}
        <ul id="taskList">
            <li class='tableTitleRow'>
                <span class='tableCell'> Project ID </span>
                <span class='tableCell'> Creation Date </span>
                <span class='tableCell'> Experiment Type </span>
                <span class='tableCell'> Status </span>
            </li>
                <a class='tableCell tableRow click-row' id="new-project"><span>New</span></a>
{#                <a class='tableCell tableRow click-row' id="id_project_id"><span>New</span></a>#}
            {% for entry in entry_list %}
                <a href="edit/{{ entry.projectID }}" class='tableRow click-row'>
                    <span class='tableCell'>{{ entry.projectID }} </span>
                    <span class='tableCell'>{{ entry.creationDate }} </span>
                    <span class='tableCell'>{{ entry.experimentType.name }} </span>
                    <span class='tableCell'>{{ entry.status.text }} </span>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No entries are available.</p>
    {% endif %}

{% endblock %}
