{% extends 'splash/_base.html' %}


{% block head %}
  {% load static %}
  <script type="text/javascript" src="/static/splash/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'splash/css/index.css' %}" />
{% endblock %}

{% block pageBody %}

  <!-- The Modal -->
  <div id="dialog-form" title="Create New Project">
    <!-- Modal Content -->
    <form action="/new_project/" method="post">
      <fieldset>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Create Project" disabled id="create-project"/>
      </fieldset>
    </form>
  </div>
    <!--Welcome message, eventually will populate with user name-->
    <div class="greeting">
        <h1>Hello, Scientist!</h1>
    </div>

    <!--Plain title for the table of tasks/entries-->
    <div class="table-title">
        <h3 style="text-decoration: underline;">Your Entries</h3>
    </div>

    {% if entry_list %}
        <table id="taskList">
            <thead>
                <tr>
                    <th>Project ID</th>
                    <th>Creation Date</th>
                    <th>Experiment Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <a class='tableRow new-project-row click-row' id="new-project">New Project</a>
                </tr>
                    {% for entry in entry_list %}
                      <tr class="tableRow click-row">
                          <td class='tableCell'>{{ entry.projectID }} </td>
                          <td class='tableCell'>{{ entry.creationDate }} </td>
                          <td class='tableCell'>{{ entry.experimentType.name }} </td>
                          <td class='tableCell'>{{ entry.status.text }} </td>
                      </tr>
                    {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No entries are available.</p>
    {% endif %}

{% endblock %}

{% if entry_list %}
        <ul id="taskList">
            <li class='tableTitleRow'>
                <span class='tableCell'> Project ID </span>
                <span class='tableCell'> Creation Date </span>
                <span class='tableCell'> Experiment Type </span>
                <span class='tableCell'> Status </span>
            </li>
            <a class='tableRow new-project-row' id="new-project">
              <span class="tableCell">New Project</span>
              <span class="tableCell"> </span>
              <span class="tableCell"> </span>
              <span class="tableCell"> </span>
            </a>
            {% for entry in entry_list %}
                <a href="edit/{{ entry.projectID }}" class='tableRow click-row'>
                    <span class='tableCell'>{{ entry.projectID }} </span>
                    <span class='tableCell'>{{ entry.creationDate }} </span>
                    <span class='tableCell'>{{ entry.experimentType.name }} </span>
                    <span class='tableCell'>{{ entry.status.text }} </span>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No entries are available.</p>
    {% endif %}